{% extends "OpenTU/header.html" %} 
{% load crispy_forms_tags %} 
{% block content %}

<style>
  .is-form-page {
    color: rgb(0, 0, 0);
    font-weight: 500;
  }


  .gradient-custom {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #ce9dce 0%, #86d0d8 100%);
  }

  .shadowbox {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
      0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
      0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
      0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  }

  .card {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
      0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
      0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
      0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  }
</style>

<div class="container py-4">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 p-4 pb-1">
      <div class="card gradient-custom text-white" style="border-radius: 2rem">
        <h3>OpenTU Digital Form</h3>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ form|crispy }}
          <button class="btn btn-outline-light" type="submit">Submit</button>
          <!-- <a href="/digital_form" class="btn btn-outline-light">Close</a> -->
        </form>
      </div>
    </div>

    <div class="col-12 col-md-8 col-lg-6 col-xl-5 p-4">
      <h3 class="pb-2">Your Report History</h3>
      <table class="table shadowbox ms-2" style="max-width: 700px">
        <thead>
          <th>Status</th>
          <th>Report Topic</th>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <th>{{ report.status }} <i class="bi bi-clock-history"></i></th>
            <td>{{ report.header }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
