{% extends "OpenTU/header.html" %} 
{% block content %}

<style>
    .is-dashboard-page {
      color: rgb(0, 0, 0);
      font-weight: 500;
    }
  
    .padding {
      padding: 1rem !important;
    }
  
    .user-card-full {
      overflow: hidden;
    }
  
    .card {
      border-radius: 15px;
      -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
      box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
      border: none;
      margin-bottom: 30px;
    }
  
    .m-r-0 {
      margin-right: 0px;
    }
  
    .m-l-0 {
      margin-left: 0px;
    }
  
    .user-card-full .user-profile {
      border-radius: 5px 0 0 5px;
    }
  
    .bg-c-lite-green {
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f29263),
        to(#ee5a6f)
      );
      background: linear-gradient(to right, #ee5a6f, #f29263);
    }
  
    .user-profile {
      padding: 20px 0;
    }
  
    .card-block {
      padding: 1.25rem;
    }
  
    .m-b-25 {
      margin-bottom: 25px;
    }
  
    .img-radius {
      border-radius: 5px;
    }
  
    h6 {
      font-size: 14px;
    }
  
    .card .card-block p {
      line-height: 25px;
    }
  
    @media only screen and (min-width: 1400px) {
      p {
        font-size: 14px;
      }
    }
  
    .card-block {
      padding: 1.25rem;
    }
  
    .b-b-default {
      border-bottom: 1px solid #e0e0e0;
    }
  
    .m-b-20 {
      margin-bottom: 20px;
    }
  
    .p-b-5 {
      padding-bottom: 5px !important;
    }
  
    .card .card-block p {
      line-height: 25px;
    }
  
    .m-b-10 {
      margin-bottom: 10px;
    }
  
    .text-muted {
      color: #919aa3 !important;
    }
  
    .b-b-default {
      border-bottom: 1px solid #e0e0e0;
    }
  
    .f-w-600 {
      font-weight: 600;
    }
  
    .m-b-20 {
      margin-bottom: 20px;
    }
  
    .m-t-40 {
      margin-top: 20px;
    }
  
    .p-b-5 {
      padding-bottom: 5px !important;
    }
  
    .m-b-10 {
      margin-bottom: 10px;
    }
  
    .m-t-40 {
      margin-top: 20px;
    }
  
    .user-card-full .social-link li {
      display: inline-block;
    }
  
    .user-card-full .social-link li a {
      font-size: 20px;
      margin: 0 10px 0 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .shadowbox {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
      0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
      0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
      0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  }
  </style>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-xl-6 col-md-12">
          <h4 class="pb-2">Hi <span style="color:#4f36ce">{{ student.first_name }}</span>, Welcome to OpenTU App !</h4>
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25">
                    <img
                      src="{{ student.image.url }}"
                      class="rounded-circle"
                      width="140px"
                      height="140px"
                      alt="profile-image"
                    />
                  </div>
                  <h5 class="f-w-600">{{ student.first_name }} {{ student.last_name }}</h5>
                  <p>{{ student.student_id }}</p>
                  <a class="btn btn-dark" style="font-size: 12px;" href="/idcard">Student Card</a>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Student Information <a class="link-dark h6 ps-1" href="/edit_info"><i class="fa fa-gear"></i></a></h6>
                  <div class="row">
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Department</p>
                        <h6 class="text-muted f-w-400">{{ student.department }}</h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Faculty</p>
                        <h6 class="text-muted f-w-400">{{ student.faculty }}</h6>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Email</p>
                      <h6 class="text-muted f-w-400">{{ student.email }}</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Phone</p>
                      <h6 class="text-muted f-w-400">{{ student.phone }}</h6>
                    </div>
                  </div>
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Courses
                  </h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">GPA</p>
                      <h6 class="text-muted f-w-400">3.78</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Credits</p>
                      <h6 class="text-muted f-w-400">57</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row container d-flex justify-content-center">
        <div class="col-xl-6 col-md-12">

          <h4 class="pb-2">Upcoming Events</h4>
            <table class="table shadowbox ms-2" style="max-width: 700px;">
                <thead>
                  <th>Time</th>
                  <th>Event Description</th>
                </thead>
                <tbody>
                  {% for event in events %}
                  <tr>
                    <td>{{ event.time }}</td>
                    <td>{{ event.description }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

        </div>
      </div>

    </div>
  </div>

{% endblock %}